@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');



body {
    background-color: #949daa;
    font-size: 20px;
    margin: 0;  
}
h5 {
    color: #ffe600;
}

img {
   width: 700px;
    max-width: 100%;
    height: auto;255, 230, 0
    object-fit: contain;
}

header {
    background-color: #d8ccbb;
    margin-bottom: 40px;
}

header h1 {
    font-size: 52px;
    font-family: 'Gochi Hand';
    color: #e85a4f;
    text-align: center;
    margin: 0;
    padding-top: 20px;
}

header nav {
    display: flex;
    justify-content;
}

header nav ul {
    display: flex;
    padding-left: 0;
    list-style: none;
}

header nav ul li a {
    font-family: Montserrat;
    text-decoration: none;
    margin: 0 20px 0 0;

}

header nav ul li:last-child a {
    margin-right: 0;
}

a:link {
    color: #ffe600;
}
a:hover {
    color: #e85a4f;
}

.back-to-top {
    text-align: right;
}



@media all and (min-width: 600px) {

    header {
        display: flex;
        justify-content: space-between;
        padding: 0 30px;
    }

    header h1 {
        font-size: 42px;
        margin: 14px 0;
        padding-top: 6px;
    }

    header nav {
        margin-top: 14px;
    }

    header nav ul li a:hover {
        color: bdbdbd;
    }

    ul {
    list-style-type: none;
}

ul li {
    float: left;
    margin: 10px;
}
}
